:root {
  --main-font: "Oswald", sans-serif;
  --background-color: #131a1d;
  --font-color: #fff;
  --primary-color: #141010;
  --secondary-color: #680747;
  --neutral-color: #c3195d;
  --aside-color: #141010a0;
}

html {
  background-color: var(--background-color);
  font-synthesis: none;
  font-size: 1vw;
  overflow-y: hidden;
}

::-webkit-scrollbar {
  width: .5rem;
}

::-webkit-scrollbar-thumb {
  background-color: var(--secondary-color);
  border-radius: 1rem;
  box-shadow: inset 0 0 .5rem #000;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--neutral-color);
}

body {
  overflow-x: hidden;
}

* {
  -webkit-user-select: none;
  user-select: none;
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-weight: normal;
  font-family: var(--main-font);
  color: var(--font-color);
  border: none;
  outline: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

img {
  vertical-align: top;
}

aside {
  z-index: 100;
  height: 100%;
  transition: all .3s ease-in-out;
  display: flex;
  position: fixed;
  left: 1rem;
}

#nav-aside-button {
  z-index: 101;
  margin: 2rem;
  padding: 1rem;
  display: none;
  position: fixed;
}

[class*="nav-button-"] {
  background-color: var(--neutral-color);
  width: 3rem;
  height: .428571rem;
  margin: .428571rem 0;
  transition: all .5s;
}

.active .nav-button-bar1 {
  transform: translateY(.857143rem)rotate(45deg);
}

.active .nav-button-bar2 {
  opacity: 0;
}

.active .nav-button-bar3 {
  transform: translateY(-.857143rem)rotate(-45deg);
}

#nav-aside-container {
  background: var(--aside-color);
  backdrop-filter: blur(5px);
}

@supports not (backdrop-filter: blur(5px)) {
  #nav-aside-container {
    background: var(--aside-color);
  }
}

#nav-aside-container {
  border-radius: 5rem;
  margin-top: auto;
  margin-bottom: auto;
  padding: 1rem;
}

.nav-aside-links {
  flex-direction: column;
  gap: 2vh;
  width: 3rem;
  transition: max-width .5s ease-in-out;
  display: flex;
}

.link {
  transition: all .1s ease-in-out;
  position: relative;
}

.link > a > .link-text {
  display: none;
}

.link > .icon-text {
  visibility: hidden;
  background: var(--aside-color);
  text-align: center;
  border-radius: .8rem;
  padding: .5rem;
  font-size: 1rem;
  position: absolute;
  top: 50%;
  left: calc(100% + 1rem);
  transform: translateY(-50%);
}

.link > .icon-text:after {
  content: "";
  border-style: solid;
  border-width: .5rem;
  border-color: transparent var(--aside-color) transparent transparent;
  position: absolute;
  top: 50%;
  right: 100%;
  transform: translateY(-50%);
}

.link.active {
  border-radius: 50%;
  box-shadow: 0 0 .7rem #000, 0 0 .3rem #fff;
}

@media (hover: hover) {
  .link:hover {
    border-radius: 50%;
    transform: translateY(-1px);
    box-shadow: 0 0 .7rem #000, 0 0 .3rem #fff;
  }

  .link:hover .icon-text {
    visibility: visible;
  }
}

.link a {
  display: flex;
}

.link a > svg {
  width: 100%;
  height: 100%;
  padding: .5rem;
}

.link-icon {
  fill: var(--font-color);
}

.link.active .link-icon, .link.active .link-text {
  color: var(--neutral-color);
  fill: var(--neutral-color);
}

h2 {
  padding: 2vh 0;
  font-size: 5rem;
}

h2 > span {
  color: var(--neutral-color);
  font-size: 1.5rem;
}

h3 > span {
  font-size: 1.5rem;
}

h3 > span:before {
  content: " - ";
}

strong {
  color: var(--neutral-color);
  text-shadow: 0 0 3px var(--secondary-color);
}

button {
  cursor: pointer;
  color: var(--font-color);
  background-color: #0000;
  padding: 1%;
  font-size: 2rem;
}

section > article {
  padding: 10% 15%;
  font-size: 2rem;
}

section > h2 {
  text-align: center;
  flex-direction: column;
  display: flex;
}

.logo {
  width: 10rem;
  height: 10rem;
  transition: all .1s linear;
}

#home {
  z-index: 0;
  background: url("home-background.fcda58a3.svg") 47% / cover no-repeat;
  animation: 3s infinite shimmer;
  position: relative;
}

#home:before {
  content: "";
  background: linear-gradient(to top, var(--background-color), transparent);
  z-index: 2;
  width: 100%;
  height: 30%;
  position: absolute;
  bottom: 0;
}

#home > .content-container {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15vh;
  height: 100vh;
  display: flex;
}

#home > .content-container > .intro-text {
  white-space: pre-wrap;
  color: var(--primary-color);
}

#home > .content-container > .intro-text:first-child {
  font-size: 5rem;
}

#home > .content-container > .intro-text:not(:first-child) {
  font-size: 4rem;
  transition: all .3s ease-out;
  position: relative;
}

#home > .content-container > .intro-text:not(:first-child):after {
  content: var(--intro-text-content);
  animation: var(--cursor-animation);
  font-size: 4rem;
  position: absolute;
}

#home > .content-container > .intro-text:last-child {
  color: var(--font-color);
}

.about-profile {
  flex-direction: row-reverse;
  align-items: center;
  gap: 5%;
  display: flex;
}

.profile-photo {
  background-color: var(--font-color);
  width: 33%;
  height: 33%;
  box-shadow: 0 0 100px var(--neutral-color), inset 0 0 50px var(--neutral-color);
  opacity: 0;
  border-radius: 10%;
  animation: 2s infinite shimmer;
}

.profile-text > p {
  border-right: 1rem solid var(--neutral-color);
  opacity: 0;
  border-radius: 1rem;
  margin: 1rem;
  padding: 1rem;
  font-size: 1.5rem;
}

.about-category {
  margin-top: 10vh;
}

.about-category > .tablink-container {
  flex-direction: row;
  justify-content: center;
  gap: 3rem;
  margin-bottom: 3vh;
  display: flex;
}

button.tablink {
  display: inline-block;
  position: relative;
}

button.tablink:after {
  content: "";
  background-color: var(--neutral-color);
  border-radius: 1px;
  width: 0;
  height: 3px;
  transition: width .1s ease-out;
  position: absolute;
  bottom: 0;
  left: 0;
}

button.tablink.active:after, button.tablink:hover:after {
  width: 100%;
}

.tablink-container > .tablink {
  padding: 1vh;
}

.tabcontent-container > .tabcontent {
  max-height: 0;
  transition: max-height .5s ease-out;
  overflow: hidden;
}

.tabcontent-container > .tabcontent.active {
  max-height: auto;
}

.tabcontent > .tabcontent-content > p > span:not(:first-child) {
  font-size: 1.5rem;
  font-weight: 300;
}

.tabcontent > .tabcontent-title {
  color: var(--neutral-color);
}

.tabcontent > .tabcontent-content {
  border-bottom: 3px solid var(--secondary-color);
  justify-content: space-between;
  padding-bottom: 3vh;
  display: flex;
}

.tabcontent.skills {
  flex-wrap: wrap;
  justify-content: space-evenly;
  display: flex;
}

.experience-details {
  margin-bottom: 1rem;
}

.experience-details th {
  color: var(--neutral-color);
}

.experience-details > table, th, td {
  border: 2px var(--font-color) solid;
  border-color: var(--secondary-color);
  border-radius: .5rem;
  padding: .5rem;
  font-size: 1.5rem;
}

.experience-task > div:not(:first-child), .experience-task > p:not(:first-child) {
  margin-top: 1vh;
}

.experience-task > div:not(:first-child) {
  border-top: 3px solid var(--secondary-color);
}

.experience-task div:not(:first-child) {
  margin-top: 2rem;
}

.experience-task p {
  margin: 1rem;
  font-size: 1.5rem;
}

#projects > article {
  justify-content: space-around;
  align-items: center;
  gap: 3rem;
  display: flex;
}

#projects > article > .modal-body > p {
  margin: 1rem;
}

#contact nav > ul > li {
  text-align: center;
  opacity: 0;
}

#contact nav > ul > li:not(:first-child) {
  margin-top: 3vh;
}

footer {
  text-align: center;
  background: linear-gradient(to right, var(--neutral-color), tomato);
  padding: 10vh;
  font-size: 2rem;
}

@media only screen and (width <= 1024px) and (orientation: landscape), only screen and (device-width <= 1024px) and (orientation: landscape) {
  #nav-aside-container {
    padding: 1.5rem;
  }

  .nav-aside-links {
    gap: 2.5vh;
    width: 4rem;
  }
}

@media only screen and (width <= 768px) and (orientation: landscape), only screen and (device-width <= 768px) and (orientation: landscape) {
  #nav-aside-container {
    padding: 2rem;
  }

  .nav-aside-links {
    gap: 3vh;
    width: 4.5rem;
  }
}

@media only screen and (orientation: portrait) {
  html {
    font-size: 1.5vw;
  }

  .about-profile {
    flex-direction: column;
  }

  .profile-photo {
    border-radius: 5rem;
    width: 20rem;
    height: 20rem;
  }
}

@media only screen and (width <= 768px) and (orientation: portrait), only screen and (device-width <= 768px) and (orientation: portrait) {
  html {
    font-size: 2vw;
  }

  section > article {
    padding: 10%;
  }

  #nav-aside-button {
    padding: 0;
    display: block;
  }

  aside {
    width: 0;
    left: 0;
    overflow-x: hidden;
  }

  #nav-aside-container {
    border-radius: 0;
    margin: 0;
    padding: 0;
    display: flex;
  }

  .nav-aside-links {
    width: 100%;
    margin: auto 0;
  }

  .link.active, .link:hover {
    box-shadow: none;
    border-radius: 0;
  }

  .link > a > .link-text {
    margin: 0 1rem;
    font-size: 5rem;
    display: block;
  }

  .link > a > svg, .icon-text {
    display: none;
  }

  .profile-text > p, .experience-task p {
    font-size: 1.75rem;
  }
}

@media only screen and (width <= 480px) and (orientation: portrait), only screen and (device-width <= 480px) and (orientation: portrait) {
  #nav-aside-container {
    width: 100%;
  }

  .link > a {
    justify-content: center;
  }

  .link > a > .link-text {
    font-size: 8rem;
  }

  [class*="nav-button-"] {
    width: 5rem;
    height: .714286rem;
    margin: .714286rem 0;
  }

  .active .nav-button-bar1 {
    transform: translateY(1.42857rem)rotate(45deg);
  }

  .active .nav-button-bar2 {
    opacity: 0;
  }

  .active .nav-button-bar3 {
    transform: translateY(-1.42857rem)rotate(-45deg);
  }
}

#loading-screen {
  background-color: var(--background-color);
  z-index: 1000;
  opacity: 1;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  transition: opacity 1s ease-in;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
}

.loader {
  width: 10rem;
  height: 10rem;
  display: inline-block;
  position: relative;
  transform: rotate(45deg);
}

.loader:before {
  content: "";
  box-sizing: border-box;
  width: 5rem;
  height: 5rem;
  animation: 2s infinite animloader;
  position: absolute;
  top: -5rem;
  left: 0;
}

.loader:after {
  content: "";
  box-sizing: border-box;
  background: #ffffffd9;
  width: 5rem;
  height: 5rem;
  animation: 1s infinite animloader2;
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: 0 0 10px #00000026;
}

@keyframes animloader {
  0% {
    box-shadow: 0 5rem #fff0, 5rem 5rem #fff0, 5rem 10rem #fff0, 0 10rem #fff0;
  }

  12% {
    box-shadow: 0 5rem var(--neutral-color), 5rem 5rem #fff0, 5rem 10rem #fff0, 0px 10rem #fff0;
  }

  25% {
    box-shadow: 0 5rem var(--neutral-color), 5rem 5rem var(--neutral-color), 5rem 10rem #fff0, 0px 10rem #fff0;
  }

  37% {
    box-shadow: 0 5rem var(--neutral-color), 5rem 5rem var(--neutral-color), 5rem 10rem var(--neutral-color), 0px 10rem #fff0;
  }

  50% {
    box-shadow: 0 5rem var(--neutral-color), 5rem 5rem var(--neutral-color), 5rem 10rem var(--neutral-color), 0px 10rem var(--neutral-color);
  }

  62% {
    box-shadow: 0 5rem #fff0, 5rem 5rem var(--neutral-color), 5rem 10rem var(--neutral-color), 0px 10rem var(--neutral-color);
  }

  75% {
    box-shadow: 0 5rem #fff0, 5rem 5rem #fff0, 5rem 10rem var(--neutral-color), 0px 10rem var(--neutral-color);
  }

  87% {
    box-shadow: 0 5rem #fff0, 5rem 5rem #fff0, 5rem 10rem #fff0, 0px 10rem var(--neutral-color);
  }

  100% {
    box-shadow: 0 5rem #fff0, 5rem 5rem #fff0, 5rem 10rem #fff0, 0 10rem #fff0;
  }
}

@keyframes animloader2 {
  0% {
    transform: translate(0)rotateX(0)rotateY(0);
  }

  25% {
    transform: translate(100%)rotateX(0)rotateY(180deg);
  }

  50% {
    transform: translate(100%, 100%)rotateX(-180deg)rotateY(180deg);
  }

  75% {
    transform: translate(0, 100%)rotateX(-180deg)rotateY(360deg);
  }

  100% {
    transform: translate(0)rotateX(0)rotateY(360deg);
  }
}

@keyframes slideLeft {
  from {
    opacity: 0;
    transform: translateX(3rem);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideRight {
  from {
    opacity: 0;
    transform: translateX(-3rem);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(3rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-3rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes shimmer {
  0%, 100% {
    filter: brightness();
  }

  50% {
    filter: brightness(1.1);
  }
}

@keyframes blinkTypingCursor {
  50% {
    opacity: 0;
  }
}

@keyframes wave {
  from, to {
    transform: translateY(0);
  }

  50% {
    transform: translateY(.5vh);
  }
}
/*# sourceMappingURL=index.2cdaf7bc.css.map */
